
.container {
    text-align:center;
    max-width: 650px;
    margin: 5rem auto 4rem auto;
}


.our-results-section {
    background-size: cover;
    background-position: center;
    color: var(--color-white);
    padding: 5rem 0;
}


.results-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    text-align: center;
}

.result-item h3 {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.result-item {
  width: 150px;
  height: 150px;
  background-color: red;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  position: relative;
}

.result-text {
  position: absolute;
  left: 50px;
  top: 50px;
  color: white; /* Or your desired color */
}

.result-item p {
    font-size: var(--font-size-small);
}

/* You must adjust the grid to accommodate the new fixed-size items */
.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Responsive grid */
    gap: 2rem;
    justify-items: center; /* Center items in the grid */
}

/* Mobile Responsiveness for result-item if needed */
@media (max-width: 480px) {
    .results-grid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}