.result-item {
    height: 0;
    width: 100px;
    border-top: 100px solid rgb(157, 51, 51);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: relative;
}

.result-item:before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border-bottom: 100px solid rgb(157, 51, 51);
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    bottom: 100px;
    left: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.result-item {
    height: 0;
    width: 100px;
    border-top: 100px solid rgb(157, 51, 51);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: relative;
}

.result-item:before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border-bottom: 100px solid rgb(157, 51, 51);
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    bottom: 100px;
    left: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

